*{
    margin: 0;
    padding: 0;
}

nav{
    width: 100%;
    /* height: 100px; */
    background-color: gold;
    display: flex;
    padding: 20px 0 20px 0px;
}

#pic{
    width:50px;
    height: 50px;
    border-radius: 50%;
}

#pic:hover{
    zoom: 150%;
}
nav:hover{
    background-color: rgb(224, 66, 79);
}

ul{
    display: flex;
    /* justify-content:space-evenly; */
    margin-left: 70px;
    margin-top: -5px;
}

li{
    list-style-type: none;
    /* margin-left: 100px; */
    text-align: center;

}

a{
    text-decoration: none;
    color: rgb(249, 247, 245);
    font-size: 20px;
    
}

/* a:hover{
    padding:15px;
    border-radius: 25px;
} */

.sign{
    width: 15%;
    /* background-color: aqua; */
    display: flex;
    margin-left: 10px;
}

.sign h3{
    font-size: 50px;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 10px;
    color: rgb(248, 244, 244);

}

.navbar{
    width: 75%;

}

.detail{
    width: 10%;
}

.detail button{
    width:100px;
    height: 50px;
    background:linear-gradient(rgb(241, 240, 238));
    border-radius: 50px;
    font-size: 15px;
    border-color: whitesmoke;
    border-style: inset;

    
}

.box{
    justify-content: center;
    /* text-align: center; */
    width: 200px;

}


img.emj{
    width: 40px;
    height: 40px;
    /* margin-left: 100px; */
    opacity: 0;
    margin-left: 80px;
    /* text-align: center; */

}

.box:hover img.emj{
    opacity: 1;
    animation-name: emoji;
    animation-duration: 1s;

}

@keyframes emoji {
    0% {margin-left: 80px; opacity: 0; }
    10%{margin-left: 0; opacity: 0;}
    to {margin-left: 80px;}
  }



.contain{
    width:100%;
    height: 60%;
    position: relative;
    
}

.photo{
    width:100%;
    height: 650px;
    background-color:rgb(13, 13, 13) ;
    z-index: 1;
    position: absolute;

}

#main{
    width:100%;
    height:650px;
    z-index: -1;
    position: absolute;
    opacity: 0.2;

}


.content{
    width: 500px;
    height: 200px;
    z-index: 2;
    position: absolute;
    margin-top: 50px;
    margin-left: 10px;
    /* opacity: 0.8; */

}

.content2{
    width: 500px;
    height: 200px;
    z-index: 2;
    position: absolute;
    margin-top: 450px;
    margin-left: 470px;
    /* opacity: 0.8; */

}

.content1{
    width: 500px;
    height: 200px;
    z-index: 2;
    position: absolute;
    margin-top: 50px;
    margin-left: 900px;
    /* opacity: 0.8; */

}

.social{
    z-index: 2;
    position: absolute;
    top:590px;
    margin-left: 78%;
}

img.icon{
    margin-left: 20px;
    background-color:#6e4dff;
    border-radius: 30%;
    box-shadow: 5px 5px red;
}

img.icon:hover{
    box-shadow: 5px 5px blue;
}

.content p,.content1 p,.content2 p {
    font-size: 60px;
    color: #fff;
    text-align: center;
    -webkit-animation: p 1s ease-in-out infinite alternate;
    -moz-animation: p 1s ease-in-out infinite alternate;
    animation: p 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes p {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #20da3b, 0 0 40px #0cef2f, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #a04dff, 0 0 40px #6e4dff, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

.t{
    font-size: 100px;
    -webkit-animation: span 1s ease-in-out infinite alternate;
    -moz-animation: span 1s ease-in-out infinite alternate;
    animation: span 1s ease-in-out infinite alternate;
}


@-webkit-keyframes span{
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #20da3b, 0 0 40px #0cef2f, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #f32b2b, 0 0 40px #d8f439, 0 0 50px #84d3dd, 0 0 60px #bdd6de, 0 0 70px #65ade8, 0 0 80px #ff4da6;
    }
}

#left{
    width:10px;
    height: 10px;
    opacity: 0;
    z-index: 2;
    position: absolute;
}

#right{
    width:10px;
    height: 10px;
    opacity: 0;
    margin-left: 99.3%;
    z-index: 2;
    position: absolute;
    background-position: left top;
    top:0;
    right:0;
}

#bottom{
    width:10px;
    height: 10px;
    opacity: 1;
    margin-top: 640px;
    z-index: 2;
    position: absolute;
    transform-origin: bottom right;
    right:0;
    margin-bottom:0;
    /* object-fit: cover; */
}

footer{
    width:100%;
    height:100px;
    background-color: #dad8e1;
    position: absolute;
    z-index: 2;
    margin-top: 650px;
    border-style: inset;
}

footer h3{
    text-align: center;
    margin-top:40px;
}

